@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap");
.space-bt, .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.align-cnt, .menu, .hero, .hero__lable-hero, .hero__list,
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.justify-cnt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fd-clm, .hero, .hero__lable-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.f-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

html {
  font-size: 16px;
}

body {
  color: white;
}

body,
button,
input {
  font-family: "Open Sans", sans-serif;
}

button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.wrapper {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffb736), to(rgba(255, 255, 255, 0))), url("../img/bc.jpg");
  background-image: linear-gradient(180deg, #ffb736 0%, rgba(255, 255, 255, 0) 100%), url("../img/bc.jpg");
  width: 100%;
  height: 100%;
}

.menu {
  width: 100%;
  color: white;
  padding: 30px;
}

.menu__burger-btn, .menu__btn {
  color: white;
}

.menu__burger-btn {
  font-size: 2.1rem;
}

.menu__burger-btn {
  -webkit-transition: 0.2s color, 0.2s background-color, 0.2s -webkit-transform;
  transition: 0.2s color, 0.2s background-color, 0.2s -webkit-transform;
  transition: 0.2s color, 0.2s background-color, 0.2s transform;
  transition: 0.2s color, 0.2s background-color, 0.2s transform, 0.2s -webkit-transform;
}

.menu__burger-btn:hover {
  -webkit-transform: scale();
          transform: scale();
}

.menu__burger-btn:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.menu__btn {
  font-size: 1.4rem;
  border: 1px solid white;
  padding: 7px 20px;
  border-radius: 50px;
  margin-right: 10px;
}

.menu__btn {
  -webkit-transition: 0.2s color, 0.2s background-color, 0.2s -webkit-transform;
  transition: 0.2s color, 0.2s background-color, 0.2s -webkit-transform;
  transition: 0.2s color, 0.2s background-color, 0.2s transform;
  transition: 0.2s color, 0.2s background-color, 0.2s transform, 0.2s -webkit-transform;
}

.menu__btn:hover {
  color: black;
  background-color: white;
  -webkit-transform: scale();
          transform: scale();
}

.menu__btn:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.hero {
  height: calc(99% - (122px + 110px));
  padding-top: 60px;
}

.hero__lable-hero {
  margin-bottom: 80px;
}

.hero__lable {
  font-size: 7rem;
  font-weight: extra-bold;
  text-transform: uppercase;
  line-height: 117px;
  margin: 0;
}

.hero__description {
  font-size: 1.4rem;
  margin: 0;
}

.hero__form {
  position: relative;
}

.hero__search {
  font-size: 1.2rem;
  width: 665px;
  height: 70px;
  padding: 8px 20px;
  background: white;
  -webkit-box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 80px;
  outline: none;
}

.hero__search::-webkit-input-placeholder {
  color: #bdbdbd;
}

.hero__search:-ms-input-placeholder {
  color: #bdbdbd;
}

.hero__search::-ms-input-placeholder {
  color: #bdbdbd;
}

.hero__search::placeholder {
  color: #bdbdbd;
}

.hero__submit-btn {
  color: #bdbdbd;
  font-size: 1.8rem;
  position: absolute;
  top: 14px;
  right: 14px;
}

.hero__submit-btn {
  -webkit-transition: 0.2s color, 0.2s background-color, 0.2s -webkit-transform;
  transition: 0.2s color, 0.2s background-color, 0.2s -webkit-transform;
  transition: 0.2s color, 0.2s background-color, 0.2s transform;
  transition: 0.2s color, 0.2s background-color, 0.2s transform, 0.2s -webkit-transform;
}

.hero__submit-btn:hover {
  color: black;
  -webkit-transform: scale();
          transform: scale();
}

.hero__submit-btn:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.hero__list,
.menu__list {
  list-style: none;
  padding: 0;
}

.hero__list-elem,
.menu__list-elem {
  margin-right: 12px;
}

.hero__link,
.menu__link {
  font-size: 1.2rem;
  color: white;
  text-decoration: none;
}

.hero__link::after,
.menu__link::after {
  content: "";
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  border: 1px solid white;
  display: block;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: 0%;
          transform-origin: 0%;
}

.hero__link:hover::after,
.menu__link:hover::after {
  content: "";
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transform-origin: 100%;
          transform-origin: 100%;
}

.hero__link i,
.menu__link i {
  font-size: 1.8rem;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }
  .wrapper {
    background-size: 220%;
  }
  .hero__lable-hero {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 425px) {
  html {
    font-size: 12px;
  }
  .wrapper {
    background-size: 440%;
  }
  .hero__search {
    width: 365px;
  }
  .hero__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
  }
  .hero__submit-btn {
    top: 19px;
  }
}

@media screen and (max-width: 320px) {
  html {
    font-size: 10px;
  }
  .wrapper {
    background-size: 440%;
  }
  .hero__lable-hero {
    margin-bottom: 20px;
  }
  .hero__lable {
    line-height: 100px;
  }
  .hero__search {
    width: 300px;
  }
  .hero__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
  }
  .hero__submit-btn {
    top: 19px;
  }
}
